<!DOCTYPE html>
<html lang="en">
  <head>
    <title>PWA Todoist (WarsawJS Workshop #28)</title>
    <meta charset="UTF-8">
    <meta name="theme-color" content="#3f51b5" />
    <meta name="description" content="PWA application for WarsawJS Workshop #28, VanillaJS group" />
    <link rel="canonical" href="https://localhost:3000" />
    <link rel="manifest" href="/assets/manifest.json" crossorigin="use-credentials" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>
  <body>
    <noscript>
      <div>This application requires JavaScript enabled.</div>
    </noscript>
    <script type="text/javascript" src="/assets/index.js"></script>
  </body>
</html>
